
@{
    ViewBag.Title = "Project";
}

<h1><u>Projects</u></h1>
<br />
<body class="project">
    <h3>
        <b>Object Oriented Programming 1</b>
        <li>Game Store</li><br />
        <b>Object Oriented Programming 2</b>
        <li>Medicine Management</li><br />
        <b>Web Technology</b>
        <li>Pharmacy Management</li><br />
        <b>Advanced Web Technology</b>
        <li>Pharmacy Management</li><br />
    </h3>
</body>

<style>
    .project {
        background: #ddf5fb;
    }
</style>

