
@{
    ViewBag.Title = "Reference";
}

<h1><u>Reference</u></h1>
<br />
<body class="ref">
    <h3><li>Tanvir Ahmed</li></h3>
    <ul>
        <h4>
            Faculty<br />Faculty Of Science and Technology<br />
            American International University- Bangladesh
        </h4>
    </ul>
    
    <h3><li>Majed Mohammad Abdurrahman</li></h3>
    <ul>
        <h4 style="tab-size:4;">
            Faculty<br />Faculty of Science<br />Scholastica
        </h4>
    </ul>
</body>

<style>
    .ref {
        background: #ddf5fb;
    }
</style>

