
@{
    ViewData["Title"] = "Education";
}

<h1><u>Education</u></h1><br />
<body class="education">
    <h3>Bachelor's of Science,</h3>
    <h3>American International University- Bangladesh</h3>
    <h5>September, 2019 - PRESENT</h5><br />
    <h4><b><u>Semester:</u></b> 10th</h4>
    <h4><b><u>CGPA:</u></b> 3.99</h4>
    <h4><b><u>Scholarship:</u> 70% academic scholarship</b></h4><br /><br /><br />
    <h3>A Level,</h3>
    <h3>Scholastica</h3>
    <h5>August, 2017 - May, 2019</h5><br />
    <h4><b><u>Group:</u></b> Science</h4>
    <h4><b><u>GPA:</u></b> 3.34</h4><br /><br /><br />
    <h3>O Level,</h3>
    <h3>Scholastica</h3>
    <h5>August, 2016 - May, 2017</h5><br />
    <h4><b><u>Group:</u></b> Science</h4>
    <h4><b><u>GPA:</u></b> 3.95</h4>
    <h4><b><u>Awards:</u></b> The Daily Star Award (Academic)</h4><br /><br /><br />
</body>

<style>
    .education
    {
        background: #ddf5fb;
    }
</style>

