
@{
    ViewData["Title"] = "Homepage";
}
<center><h1><b><u>Curriculum Vitae</u></b></h1><br /><br /></center>


<h1><u>Personal Information</u></h1><br />
<body class="info">
    <h3><b><u>Name:</u></b> Tonmoy Saha</h3>
    <h3><b><u>Email:</u></b> tonmoysaha1225@gmail.com</h3>
    <h3><b><u>Phone:</u></b> +8801833683313</h3>
    <h3><b><u>ID:</u></b> 19-41293-3</h3>
</body>

<style>
    .info
    {
        background: #ddf5fb;
    }
</style>

