
@{
    ViewData["Title"] = "Reference";
}

<h1><u>Reference</u></h1><br />
<body class="ref">
    <h3>1) Tanvir Ahmed<br />Faculty<br />Faculty Of Science and Technology<br />
        American International University- bangladesh</h3><br />
    <h3>2) Majed Mohammad Abdurrahman<br />Faculty<br />Faculty of Science<br />Scholastica</h3>
</body>

<style>
    .ref
    {
        background: #ddf5fb;
    }
</style>

